*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-image: url(./backround.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  display: block;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}
.title {
  text-align: center;
  color: #0baf94;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px #f90;
}
subtitle {
  color: #f90;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 3px 3px #0baf94;
}
.subtitle,
.title {
  text-align: center;
}
.divider {
  border-bottom: 4px solid rgba(255, 41, 41, 0.555);
  height: 1px;
  margin: 20px auto;
  width: 50%;
}

.avatar-group {
  display: flex;
  justify-content: center;
}
/* @media (max-width: 1150px) {
  .avatar-group {
    display: flex;
    justify-content: center;
  }
} */

.gap-30 {
  gap: 30px;
}
.avatar-wrapper {
  background-color: #fff;
  border: 15px solid #0baf94;
  border-radius: 40px;
  display: inline-block;
  padding: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(50% - 205px);
}
.button,
.button:hover {
  transition-duration: 0.2s;
}
.button {
  background-color: #ca5119;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px;
  text-transform: uppercase;
}
.avatar {
  height: 280px;
  position: relative;
  width: 260px;
}
.text-center {
  text-align: center;
}
.list-section {
  max-width: 700px;
  text-align: center;
}
h2 {
  color: #a5510d;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.list-section {
  max-width: 700px;
  text-align: center;
}
.list {
  background-color: rgba(255, 166, 0, 0.4);
  border: 5px solid orange;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px 0;
  padding: 20px;
  max-width: 700px;
}

.avatar {
  height: 280px;
  position: relative;
  width: 260px;
}
.text-center {
  text-align: center;
}
.img-center {
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.clickable {
  cursor: pointer;
}

.square,
.square:hover {
  transition-duration: 0.2s;
}
.square {
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.151);
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
}
.clickable {
  cursor: pointer;
}

.selected {
  background-color: rgba(116, 116, 255, 0.315);
}
